$text-color: #261C15; //Black Chocolate
$flavescent: #FFE194; 
$turquoise-green: #A3CFA7;
$piggy-pink: #F7DCEC;
$corn-silk: #FFF1DE;
$chocolate-web: #D96C06;
$alice-blue: #F0F8FF;
$white: #FFFFFF;
$light-grey: #D3D3D3;
