@use '../../styles/partials/colors';
@use "../../styles/partials/global";

.signup-page {
    display: flex;
    flex-direction: column;
    padding: 5vw 10vw 1vw 10vw;

   

    &__form {
        display: flex;
        flex-direction: column;
        padding: 5vw 5vw 5vw 5vw;
        background-color: colors.$flavescent;
        border-radius: 1vw;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.8);
    }

    &__input {
        padding: 1vw;
        border: none;
        margin: 1vw;
        font-size: 1vw;
        text-transform: capitalize;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
        border-radius: 1vw;
    }

    &__outer-button {
        display: flex;
        align-items: center;
        background-color: colors.$chocolate-web;
        border-radius: 1vw;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 0.3vw;
        margin: 0.5vw;
    }

    &__inner-button {
        border: none;
        background-color: unset;
        font-size: 2vw;
        font-weight: bolder;
        padding: 1vw;
        color: colors.$alice-blue;
    }
}