@use '../../styles/partials/colors';
@use "../../styles/partials/global";


.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5vw;
    
}