@use '../../styles/partials/colors';
@use "../../styles/partials/global";


.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}