@use '../../styles/partials/colors';
@use "../../styles/partials/global";

.header {
    background-color: colors.$turquoise-green;
    display: flex;
    align-items: center;

    &__title {
        color: colors.$text-color;
        font-size: 1vw;
    }

    &__logo {
        width: 4vw;
    }
}