@use '../../styles/partials/colors';
@use "../../styles/partials/global";

.login-page {
    display: flex;
    height: 100%;

    &__card {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1vw;
        margin: 10% 5% 0 5%;
        border-radius: 1vw;
        background-color: colors.$flavescent;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.8);

    }
    
    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 5% 0 5% 0;
        

        &--select {
            border-right: 0.1vw solid colors.$text-color;
        }
    }

    &__logo {
        width: 5vw;
        height: 5vw;

        &--select {
            width: 3vw;
            height: 3vw;
        }
    }

    &__outer-button {
        display: flex;
        align-items: center;
        background-color: colors.$chocolate-web;
        border-radius: 1vw;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        
       &--select {
        margin: 1vw;
        padding: 0.3vw 1vw 0.3vw 1vw;
       }
    }


    &__inner-button {
        border: none;
        background-color: unset;
        font-size: 2vw;
        font-weight: bolder;
        padding: 1vw;
        color: colors.$alice-blue;

        &--select {
            font-size: 1.5vw;
        

        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        
        
    }

    &__input {
        padding: 1vw;
        border: none;
        margin: 1vw;
        font-size: 1vw;
        text-transform: capitalize;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
        border-radius: 1vw;
    }

    &__text {
        text-transform: capitalize;
        color: colors.$neon-blue;
        font-weight: bolder;
        font-style: italic;
        margin: 1vw 0 0 2vw;
    }


}